<html>
    <head>
        <meta httpequiv="ContentType" content="text/html;charset=utf8">
        <title>Test</title>
    </head>

    <body>
        <h1>Beans Counting Application</h1>

        <div class="input">
            <form action="/new" method="post">
                <label for="ぐらむ">豆のg数を入力: </label>
                <input type="text" name="gram" size="10">
                <input type="submit" value="送信！!">
            </form>
        </div>
        
        <h2 style="color: rebeccapurple;">豆の量：{{.beans_quantity}}g</h1>

        <h2 style="color: rebeccapurple;">お湯の量：{{.boil_water_quantity}}ml</h1>
        <p>※豆に対するお湯の量：豆のグラム数*16倍の湯量</p>


    </body>

</html>

