<html>
    <head>
        <meta httpequiv="ContentType" content="text/html;charset=utf8">
        <title>Test</title>
    </head>

    <body>

        <p>豆に対するお湯の量：豆のグラム数*16倍の湯量</p>
        <div class="input">
            <form action="/new" method="post">
                <label for="ぐらむ">豆のg数を入力: </label>
                <input type="text" name="gram" size="10">
                <input type="submit" value="送信！!">
            </form>
        </div>

        <h1 style="color: rebeccapurple;">{{.message}}</h1>


    </body>

</html>

