<html>
    <head>
        <meta httpequiv="ContentType" content="text/html;charset=utf8">
        <title>usersubscibe</title>
    </head>

    <body>

        <p>ログイン</p>
        
        <div class="input">
            <p>{{.err}}</p>
            <form action="/login" method="post">
                <label form="ユーザ名">ユーザ名とパスワードを入力: </label>
                <input type="text" name="username" size="20">
                <input type="text" name="password" size="20">
                <input type="submit" value="送信！!">
            </form>
        </div>

    </body>

</html>

